<div class="header">
<div class="logo"><h1><%= link_to "Wikinimous", articles_path %></h1></div>
</div>

<%= form_for(@article) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
